:root{
    /* --bg-primary:#496e74; */
    --bg-primary:#c17402; 
    --second-bg-color :#ddd8de;
}
#nav{
   /*  background-color: #e0bf88 !important; */
    background-color: #d0a735  !important;
}
body{
   background-color:#b69b52 !important;
}
#searchBar{
    background-color:#fbe6a1!important; 
  /*   background-color: #e0bf88 !important; */
}
.seemore-btn{
    background-color: #aa8e43;
    color: white;
}
.seemore-btn:hover{
    padding: 5px;
    background-color:var(--bg-primary) ;
    color: white;
}
#showmore{
    background-color: #aa8e43;
    color: black;
    display: block;
    margin: 0px auto;
    margin-bottom: 1rem;
}

.seeMore1{
    display: none;
}
.seeMore2{
    display: none;
}
.catcard{
    background-color: #d3c499  ;
}

#spCard{
    background-color: #d3c499  ;
}
#spCard img{
    height: 14rem;
}
.sidebar{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    display: none;
}
.pricing{
    position: relative;
}
.pricing .numOfbought{
    position: relative;
    top: -35px;
    right: -35px;
    color:red;
    background-color: white;
    border: 1px solid white;
    border-radius: 30px;
    padding: 0px 5px;
}

@media (max-width:500px) {
    .catcard{
        width: 100% !important;
    }
    #spCard{
        width: 100px !important;
        font-size: 10px;
    }
    #spCard h3{
        font-size: 8px;
        font-weight: bold;
    }
    #spCard img{
        height: 80px;
    }
    .sidebar{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
    }
    .boughtItem h4{
        font-size: 10px;
    }
    .pricing .numOfbought{
        position: relative;
        top: -5px;
        right: 0px;
        color:red;
        background-color: white;
        border: 1px solid white;
        border-radius: 30px;
        padding: 0px 5px;
    }
    
    
}
 